body{
    font-family: 'Roboto', sans-serif;
    color: #231f20;
}
p {
    font-weight: 400;
    color: #231f20;
}
a{
    color: #231f20;
}

.container {
    max-width: 794px;
    padding: 50px;
}
.destaque{
    background-color: #d1232a;
    color: #fff;
    font-weight: 900;
}
.topo .is-size-4 {
    font-size: 1.5rem !important;
    letter-spacing: -0.8px;
}
.is-size-7-5 {
    font-size: 0.80rem !important;
}
.is-size-8 {
    font-size: 0.78rem !important;
    letter-spacing: -0.8px;
}
.is-size-9 {
    font-size: .68rem !important;
}
.is-size-10 {
    font-size: .65rem !important;
    letter-spacing: -0.7px;
}

.strongCor{
    color: #d1232a;
}

.subtitle, .title {
    color: #231f20;
}

.title.is-1.is-size-2 {
    font-weight: 900;
}

.caixaPadrao{
    background-color: #dcdddf;
}

label {
    margin-right: 7px;
    float: left;
    margin-top: 4px;;
}

.clear{
    clear: both;
}
input{
    height: 35px;
}
.inp1{width: 85.92%;}.inp2{width: 88.768%;}.inp3 {width: 83.768%;}.inp4 { width: 87.17%;}
.title.is-4 {
    font-weight: 400;
}

.noBorder{border: none !important; background: none !important;}

th{background-color: #d1232a; color: #fff !important; border: 1px solid #a9a9a9 !important;}
